* {
  font-family: "Montserrat", sans-serif;
}

#navbar {
  width: auto;
  height: 200px;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#navbar-logo img {
  width: 120px;
  height: 60px;
  flex: 3;
}

#navbar-features,
#navbar-aboutUs,
#navbar-pricing,
#navbar-Feedback {
  flex: 1;
}

#navbar-middleButtons {
  width: 500px;
  height: 50px;
  display: flex;
  flex: 1;
}

#navbar-requestButton {
  flex: 3;
}
