#customize {
  /* min-height: 60rem; */
  margin-top: 20rem;
  background: linear-gradient(90deg, #cba8fa 5%, #e6b8ff 90%);
  /* opacity: 0; */
  transition: all 0.3s ease;
}

.customize__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.customize__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.customize__text--box {
  margin-top: 2.8rem;
  font-size: 1.5rem;
  padding: 3rem 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
  -webkit-box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
  border-radius: 2.5rem;
}

.customize__text--box h5 {
  font-size: 3rem;
}

.customize__text--box p {
  color: var(--secondary-color);
}

.customize__text--cms::before {
  display: block;
  content: " ";
  background-color: rgb(120, 224, 0);
  height: 1rem;
  width: 40%;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.customize__text--payment::before {
  display: block;
  content: " ";
  background-color: red;
  height: 1rem;
  width: 66%;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.customize__text--submission::before {
  display: block;
  content: " ";
  background-color: rgb(138, 42, 249);
  height: 1rem;
  width: 100%;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.customize__text--box:hover {
  transform: translateX(-2rem);
  box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.5);
}

.customize__text--box:hover::before {
  width: 2%;
}

svg{
  position: relative;
  top: 30%;
  left: 20%;
}
