#hero {
margin: 3rem 0 0 0;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.hero__item__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 56% 44% 63% 37% / 30% 30% 70% 70%;
  background-color: var(--accent-color);
  -webkit-animation: blob 30s linear infinite;
          animation: blob 30s linear infinite;

}
.hero__item__left h1 {
  font-size: var(--font-xxxl);
  font-weight: var(--font-bold);
  color: var(--dark-color);
  margin-bottom: 2.5rem;
  line-height: 7rem;
}

.hero__item__left p {
  color: var(--secondary-color);
  font-size: var(--font-m);
}

.left__item__demo {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.hero__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  /* margin: 0 1rem; */
}

.hero__item__right{
  /* width: 50%; */
}

.hero__item__right img{
  opacity: 0.9rem;
  /* height: 50rem; */
  width: 70rem;
}
