#hero {
  min-height: 70vh;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 12rem 2rem 1rem 0;
}

.hero__item--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.hero__item--left h1 {
  font-size: var(--font-xxl);
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 2.5rem;
  line-height: 8rem;
}

.hero__item--left p {
  color: var(--secondary-color);
  font-size: var(--font-m);
}

.left--item__demo {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  margin: 0 1rem;
}

.hero__item--right img{
  opacity: 0.9rem;
  height: 50rem;
}
