.mobile__wrapper {
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mobile__text {
  border-radius: 1.5rem;
  margin-top: 5rem;
  padding: 2rem 5rem;
  /* max-width: 70rem; */
  min-width: 30rem;
  max-height: 60rem;
  position: relative;
  top: 5rem;
  left: -8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
  -webkit-box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
}

.mobile__text h5 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 10;
  padding: 0 0 3rem 0;
}

.mobile__text h2 {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.mobile__text p {
  color: var(--secondary-color);
  font-size: 2rem;
}

.mobile__icons {
  font-size: 8rem;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile__icons--design {
  /* font-size: 3rem; */
  border-radius: 1.5rem;
  background-color: rgb(19, 178, 55);
  padding: 1rem;
  position: relative;
  top: 1rem;
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
}

.mobile__icons--design:hover {
  transform: translateY(-1.5rem);
}

.mobile__icons--square {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: rgb(68, 212, 215);
  position: relative;
  top: 1rem;
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
}

.mobile__icons--square:hover {
  transform: translateY(-1.5rem);
}
