#header {
  margin: 1rem 0 0 0;
  position: sticky;
  top: 1px;
  z-index: 20;
  width: 100%;
  background: var(--light-color);
  /* padding: 1rem; */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.navbar__logo img {
  width: 15rem;
  cursor: pointer;
}

.nav__lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}


.nav__link {
  color: var(--dark-color);
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--primary-color);
}


.nav__list__item {
  margin: 0 0.5rem;
  color: var(--dark-color);
  transition: all 0.2s ease-in-out;
  font-size: var(--font-m);
}

.nav__list__item:hover {
  color: var(--primary-color);
  transform: translateY(-0.2rem);

}

.nav__list__item:hover::after{
  width:100%

}

.nav__list::after{
  content: " ";
  display: block;
  background-color: var(--primary-color);
  transition: all 0.2s linear;
  width: 0%;
  height: 0.1rem;
}

.navbar__demo button{
  font-size: var(--font-m);
}


/* burger menu */
.burger__icon{
  padding: .5rem 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  background-color: var(--light-color);
  display: none;
  transition: all 0.2s linear;
}

.burger__menu{
  position: fixed;
  right: 1%;
  top: 6%;
  /* transform: translateX(-50%); */
  background-color: var(--light-color);
  height: 100%;
  /* width: 10%; */
  z-index: 10;
  display: none;
  transition: all 0.3s linear;
}

.burger__nav{
  display: flex;
  position:relative;
  top: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  padding: 2rem
}

