#signup {
  margin-top: 15rem;
  background: linear-gradient(90deg, #cba8fa 5%, #e6b8ff 90%);
}

.signup__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signup__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 1.5rem;
  margin-top: 5rem;
  padding: 2rem 3rem;
  max-width: 70rem;
  max-height: 60rem;
  transition: all 0.3s ease-in-out;
}

.signup__text:hover {
  box-shadow: 2rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.5);
}

.signup__text h2 {
  font-size: 5rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.signup__text p {
  color: var(--dark-color);
  font-size: 2rem;
}

.btn--signup {
  max-width: 50%;
  margin-top: 3rem;
}
